#login{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Hand Store
  .content{ data: { role: 'content' } }
    %h2 Sig In
    %p
      = form_tag '/', id: 'form-log-in' do
        = email_field_tag :email, '', placeholder: 'jane_doe@mail.com'
        = password_field_tag :password, '', placeholder: 'password'
        = link_to 'Log In', '#', id: 'login-button', data: { role: 'button' }
        %h4
          Forget your password?
        = link_to 'Reset here', '#reset-password'
    %p
      %h4
        Not and user?
        = link_to 'Click here', '#signup'

#reset-password{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Hand Store
  .content{ data: { role: 'content' } }
    %h2 Reset your password
    %p
      Forget your password? We can help you.
    %p
      = form_tag '' do
        = email_field_tag :email, '', placeholder: 'Enter your email'
        = link_to 'Send an email to reset your password', '#'

#signup{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Sign Up
  .content{ data: { role: 'content' } }
    %h2 Create your account
    %p
      = form_tag '/', id: 'sign-up' do
        = email_field_tag :email_sup, '', placeholder: 'jane_doe@mail.com'
        = password_field_tag :password_sup, '', placeholder: 'password'
        = link_to 'Log In', '#dashboard', id: 'signup-button', data: { role: 'button' }
    %p
      %h4 Already and user?
      = link_to 'Click here', '#login'

#dashboard{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Hand Store
  .content{ data: { role: 'content' } }
    .dashboard-menu{ data: { role: 'collapsible-set', theme: 'b' } }
      .menu-option{ data: { role: 'collapsible', :'collapsed-icon' => 'arrow-r', :'expanded-icon' => 'arrow-d' } }
        %h2 Sales
        %ul{ data: { role: 'listview', theme: 'c' } }
          %li
            = link_to 'Create', '#create-sale'
          %li
            = link_to 'See all', '#sales'
      .menu-option{ data: { role: 'collapsible' } }
        %h2 Clients
        %ul{ data: { role: 'listview', theme: 'c' } }
          %li
            = link_to 'Create', '#create-client'
          %li
            = link_to 'See all', '#clients'
      .menu-option{ data: { role: 'collapsible' } }
        %h2 Reports
        %ul{ data: { role: 'listview', theme: 'c' } }
          %li
            = link_to 'Sales', '#sales-report'
          %li
            = link_to 'Earnings report', '#earnings-report'

#create-sale{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Hand Store
  .content{ data: { role: 'content' } }
    %label Search for
    .search-buttons{ data: { role: 'controlgroup', type: 'horizontal', mini: 'true' }}
      = link_to 'Client', '#search-client', data: { role: 'button', rel: 'dialog' }
      = link_to 'Product', '#search-product', data: { role: 'button', rel: 'dialog' }
    = form_tag '/sales/create', id: 'form-sale-create' do
      = hidden_field :products, ''
      = hidden_field :client_id, ''
      %table.products-summary
        %thead
          %th Name
          %th Qty
          %th Price
          %th Total
        %tbody
          %tr
            %td Product A
            %td 2
            %td $100.00
            %td $200.00
          %tr
            %td Product B
            %td 1
            %td $50.00
            %td $50.00
          %tr
            %td Product C
            %td 1
            %td $150.00
            %td $100.00


#search-client{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Search Client
  .content{ data: { role: 'content' } }
    = form_tag '/', id: 'form-search-client', data: { role: 'search' }
    %ul{ data: { role: 'listview', filter: 'true' } }
      %li
        = link_to 'Jane Doe', '#', data: { rel: 'back' }
      %li
        = link_to 'Cindy Valencia', '#', data: { rel: 'back' }
      %li
        = link_to 'Astree Suarez', '#', data: { rel: 'back' }

#search-product{ data: { role: 'page', theme: 'b' } }
  .header{ data: { role: 'header' } }
    %h1 Search Product
  .content{ data: { role: 'content' } }
    = form_tag '/', id: 'form-search-client', data: { role: 'search' }
    %ul{ data: { role: 'listview', filter: 'true' } }
      %li
        = link_to 'Jane Doe', '#', data: { rel: 'back' }
      %li
        = link_to 'Cindy Valencia', '#', data: { rel: 'back' }
      %li
        = link_to 'Astree Suarez', '#', data: { rel: 'back' }

:javascript
  $('#login-button').click (function(event) {
    event.preventDefault();
    var $form = $( this ),
        email = $form.find( 'input[name="email"]' ).val(),
        password = $form.find( 'input[name="password"]' ).val(),
        url = $form.attr( 'action' );
    $.ajax({
      type: "POST",
      url: 'http://did-store.herokuapp.com//users/sign_in.json',
      dataType: 'jsonp',
      data: { user: { email: email, password: password } },
      success: function(data){
        console.log('success');
        console.log(data);
      },
      error: function(data){
        console.log('error');
        console.log(data);
      }
    });
  });
