!!!
%html
  %head
    %title HandStore
    = render partial: 'head'

    %link{ href: 'http://fonts.googleapis.com/css?family=Rosario', rel: 'stylesheet', type: 'text/css' }
    = stylesheet_link_tag    "mobile", :media => "all"
    = javascript_include_tag "mobile"

    = csrf_meta_tags

  %body#content
    = yield
